<div id = "existing">
  <div id = "question">
      <h3>what genre of art do you make?</h3>
  </div>
  <div id = "photos">
  </div>
  <div id = "selection">
      <h3>choose</h3>
  </div>
</div>
<div id = "new photos">
</div>
